@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-bus-icon, .custom-stop-icon {
  background: transparent !important;
  border: none !important;
}

/* Hide scrollbar for clean horizontal route pills */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Leaflet Dark Mode Popups */
.dark .leaflet-popup-content-wrapper {
  background-color: #09090b !important;
  color: #f4f4f5 !important;
  border: 1px solid #27272a !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6) !important;
  border-radius: 1rem !important;
}
.dark .leaflet-popup-tip {
  background-color: #09090b !important;
}

/* Minimalist Dark Mode Basemap Filter (OpenStreetMap with 0 API Key) */
.dark .leaflet-tile-pane {
  filter: invert(100%) hue-rotate(180deg) brightness(88%) contrast(96%) grayscale(15%);
}
